.vscode/
# RAiSD-AI specific folders and files
workspace/

#build
bin/
Makefile
RAiSD-AI

#./test-all.sh
RAiSD_Images.TestData2DSNP-4x/
RAiSD_Images.TestData2DSNP/
RAiSD_Images.TestData2DSNPPOS-4x/
RAiSD_Images.TestData2DSNPPOS/
RAiSD_Images.TestData2DSNPVAR-4x/
RAiSD_Images.TestData2DSNPVAR/
RAiSD_Images.TestDataBINFRQPOS/
RAiSD_Images.TestDataBINSNPPOS-4x/
RAiSD_Images.TestDataBINSNPPOS/
RAiSD_Images.TrainingData2DSNP-4x/
RAiSD_Images.TrainingData2DSNP/
RAiSD_Images.TrainingData2DSNPPOS-4x/
RAiSD_Images.TrainingData2DSNPPOS/
RAiSD_Images.TrainingData2DSNPVAR-4x/
RAiSD_Images.TrainingData2DSNPVAR/
RAiSD_Images.TrainingDataBINFRQPOS/
RAiSD_Images.TrainingDataBINSNPPOS-4x/
RAiSD_Images.TrainingDataBINSNPPOS/
RAiSD_Info.FAST-NN-PT-2DSNP
RAiSD_Info.FAST-NN-PT-2DSNP-ModelTest
RAiSD_Info.FAST-NN-PT-2DSNP-SCAN
RAiSD_Info.FAST-NN-PT-2DSNPPOS
RAiSD_Info.FAST-NN-PT-2DSNPPOS-ModelTest
RAiSD_Info.FAST-NN-PT-2DSNPPOS-SCAN
RAiSD_Info.FAST-NN-PT-2DSNPVAR
RAiSD_Info.FAST-NN-PT-2DSNPVAR-ModelTest
RAiSD_Info.FAST-NN-PT-2DSNPVAR-SCAN
RAiSD_Info.FAST-NN-PT-BINFRQPOS
RAiSD_Info.FAST-NN-PT-BINFRQPOS-ModelTest
RAiSD_Info.FAST-NN-PT-BINFRQPOS-SCAN
RAiSD_Info.FAST-NN-PT-BINSNPPOS
RAiSD_Info.FAST-NN-PT-BINSNPPOS-ModelTest
RAiSD_Info.FAST-NN-PT-BINSNPPOS-SCAN
RAiSD_Info.FASTER-NN-G-2DSNP-4x
RAiSD_Info.FASTER-NN-G-2DSNP-ModelTest-4x
RAiSD_Info.FASTER-NN-G-2DSNP-SCAN-4x
RAiSD_Info.FASTER-NN-G-2DSNPPOS-4x
RAiSD_Info.FASTER-NN-G-2DSNPPOS-ModelTest-4x
RAiSD_Info.FASTER-NN-G-2DSNPPOS-SCAN-4x
RAiSD_Info.FASTER-NN-G-2DSNPVAR-4x
RAiSD_Info.FASTER-NN-G-2DSNPVAR-ModelTest-4x
RAiSD_Info.FASTER-NN-G-2DSNPVAR-SCAN-4x
RAiSD_Info.FASTER-NN-G-BINSNPPOS-4x
RAiSD_Info.FASTER-NN-G-BINSNPPOS-ModelTest-4x
RAiSD_Info.FASTER-NN-G-BINSNPPOS-SCAN-4x
RAiSD_Info.SweepNetPT-2DSNP
RAiSD_Info.SweepNetPT-2DSNP-ModelTest
RAiSD_Info.SweepNetPT-2DSNP-SCAN
RAiSD_Info.SweepNetPT-2DSNPPOS
RAiSD_Info.SweepNetPT-2DSNPPOS-ModelTest
RAiSD_Info.SweepNetPT-2DSNPPOS-SCAN
RAiSD_Info.SweepNetPT-2DSNPVAR
RAiSD_Info.SweepNetPT-2DSNPVAR-ModelTest
RAiSD_Info.SweepNetPT-2DSNPVAR-SCAN
RAiSD_Info.SweepNetPT-BINSNPPOS
RAiSD_Info.SweepNetPT-BINSNPPOS-ModelTest
RAiSD_Info.SweepNetPT-BINSNPPOS-SCAN
RAiSD_Info.SweepNetTF-2DSNP
RAiSD_Info.SweepNetTF-2DSNP-ModelTest
RAiSD_Info.SweepNetTF-2DSNP-SCAN
RAiSD_Info.SweepNetTF-2DSNPPOS
RAiSD_Info.SweepNetTF-2DSNPPOS-ModelTest
RAiSD_Info.SweepNetTF-2DSNPPOS-SCAN
RAiSD_Info.SweepNetTF-2DSNPVAR
RAiSD_Info.SweepNetTF-2DSNPVAR-ModelTest
RAiSD_Info.SweepNetTF-2DSNPVAR-SCAN
RAiSD_Info.TestData2DSNP-4x.neutralTE1
RAiSD_Info.TestData2DSNP-4x.neutralTE2
RAiSD_Info.TestData2DSNP-4x.sweepTE1
RAiSD_Info.TestData2DSNP-4x.sweepTE2
RAiSD_Info.TestData2DSNP.neutralTE
RAiSD_Info.TestData2DSNP.sweepTE
RAiSD_Info.TestData2DSNPPOS-4x.neutralTE1
RAiSD_Info.TestData2DSNPPOS-4x.neutralTE2
RAiSD_Info.TestData2DSNPPOS-4x.sweepTE1
RAiSD_Info.TestData2DSNPPOS-4x.sweepTE2
RAiSD_Info.TestData2DSNPPOS.neutralTE
RAiSD_Info.TestData2DSNPPOS.sweepTE
RAiSD_Info.TestData2DSNPVAR-4x.neutralTE1
RAiSD_Info.TestData2DSNPVAR-4x.neutralTE2
RAiSD_Info.TestData2DSNPVAR-4x.sweepTE1
RAiSD_Info.TestData2DSNPVAR-4x.sweepTE2
RAiSD_Info.TestData2DSNPVAR.neutralTE
RAiSD_Info.TestData2DSNPVAR.sweepTE
RAiSD_Info.TestDataBINFRQPOS.neutralTE
RAiSD_Info.TestDataBINFRQPOS.sweepTE
RAiSD_Info.TestDataBINSNPPOS-4x.neutralTE1
RAiSD_Info.TestDataBINSNPPOS-4x.neutralTE2
RAiSD_Info.TestDataBINSNPPOS-4x.sweepTE1
RAiSD_Info.TestDataBINSNPPOS-4x.sweepTE2
RAiSD_Info.TestDataBINSNPPOS.neutralTE
RAiSD_Info.TestDataBINSNPPOS.sweepTE
RAiSD_Info.TrainingData2DSNP-4x.neutralTR1
RAiSD_Info.TrainingData2DSNP-4x.neutralTR2
RAiSD_Info.TrainingData2DSNP-4x.sweepTR1
RAiSD_Info.TrainingData2DSNP-4x.sweepTR2
RAiSD_Info.TrainingData2DSNP.neutralTR
RAiSD_Info.TrainingData2DSNP.sweepTR
RAiSD_Info.TrainingData2DSNPPOS-4x.neutralTR1
RAiSD_Info.TrainingData2DSNPPOS-4x.neutralTR2
RAiSD_Info.TrainingData2DSNPPOS-4x.sweepTR1
RAiSD_Info.TrainingData2DSNPPOS-4x.sweepTR2
RAiSD_Info.TrainingData2DSNPPOS.neutralTR
RAiSD_Info.TrainingData2DSNPPOS.sweepTR
RAiSD_Info.TrainingData2DSNPVAR-4x.neutralTR1
RAiSD_Info.TrainingData2DSNPVAR-4x.neutralTR2
RAiSD_Info.TrainingData2DSNPVAR-4x.sweepTR1
RAiSD_Info.TrainingData2DSNPVAR-4x.sweepTR2
RAiSD_Info.TrainingData2DSNPVAR.neutralTR
RAiSD_Info.TrainingData2DSNPVAR.sweepTR
RAiSD_Info.TrainingDataBINFRQPOS.neutralTR
RAiSD_Info.TrainingDataBINFRQPOS.sweepTR
RAiSD_Info.TrainingDataBINSNPPOS-4x.neutralTR1
RAiSD_Info.TrainingDataBINSNPPOS-4x.neutralTR2
RAiSD_Info.TrainingDataBINSNPPOS-4x.sweepTR1
RAiSD_Info.TrainingDataBINSNPPOS-4x.sweepTR2
RAiSD_Info.TrainingDataBINSNPPOS.neutralTR
RAiSD_Info.TrainingDataBINSNPPOS.sweepTR
RAiSD_Model.FAST-NN-PT-2DSNP/
RAiSD_Model.FAST-NN-PT-2DSNPPOS/
RAiSD_Model.FAST-NN-PT-2DSNPVAR/
RAiSD_Model.FAST-NN-PT-BINFRQPOS/
RAiSD_Model.FAST-NN-PT-BINSNPPOS/
RAiSD_Model.FASTER-NN-G-2DSNP-4x/
RAiSD_Model.FASTER-NN-G-2DSNPPOS-4x/
RAiSD_Model.FASTER-NN-G-2DSNPVAR-4x/
RAiSD_Model.FASTER-NN-G-BINSNPPOS-4x/
RAiSD_Model.SweepNetPT-2DSNP/
RAiSD_Model.SweepNetPT-2DSNPPOS/
RAiSD_Model.SweepNetPT-2DSNPVAR/
RAiSD_Model.SweepNetPT-BINSNPPOS/
RAiSD_Model.SweepNetTF-2DSNP/
RAiSD_Model.SweepNetTF-2DSNPPOS/
RAiSD_Model.SweepNetTF-2DSNPVAR/
RAiSD_Report.FAST-NN-PT-2DSNP-SCAN
RAiSD_Report.FAST-NN-PT-2DSNPPOS-SCAN
RAiSD_Report.FAST-NN-PT-2DSNPVAR-SCAN
RAiSD_Report.FAST-NN-PT-BINFRQPOS-SCAN
RAiSD_Report.FAST-NN-PT-BINSNPPOS-SCAN
RAiSD_Report.FASTER-NN-G-2DSNP-SCAN-4x
RAiSD_Report.FASTER-NN-G-2DSNPPOS-SCAN-4x
RAiSD_Report.FASTER-NN-G-2DSNPVAR-SCAN-4x
RAiSD_Report.FASTER-NN-G-BINSNPPOS-SCAN-4x
RAiSD_Report.SweepNetPT-2DSNP-SCAN
RAiSD_Report.SweepNetPT-2DSNPPOS-SCAN
RAiSD_Report.SweepNetPT-2DSNPVAR-SCAN
RAiSD_Report.SweepNetPT-BINSNPPOS-SCAN
RAiSD_Report.SweepNetTF-2DSNP-SCAN
RAiSD_Report.SweepNetTF-2DSNPPOS-SCAN
RAiSD_Report.SweepNetTF-2DSNPVAR-SCAN

# resource taken from https://github.com/github/gitignore/blob/main/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#   Usually these files are written by a python script from a template
#   before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
# Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
# uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
# poetry.lock
# poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
# pdm.lock
# pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
# pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Redis
*.rdb
*.aof
*.pid

# RabbitMQ
mnesia/
rabbitmq/
rabbitmq-data/

# ActiveMQ
activemq-data/

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#   JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#   be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#   and can be added to the global gitignore or merged into this file.  For a more nuclear
#   option (not recommended) you can uncomment the following to ignore the entire idea folder.
# .idea/

# Abstra
#   Abstra is an AI-powered process automation framework.
#   Ignore directories containing user credentials, local state, and settings.
#   Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#   Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#   that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#   and can be added to the global gitignore or merged into this file. However, if you prefer, 
#   you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml