$font-size: 16px;

$primary-dark: #0a0d4f;
$primary-purple: #9090c1;
$accent-orange: #f3af56;
$purplish-background: #d7dbe9;
$border-gray: #9a9a9a;

$button-disabled-background: #b2b7d1;
$button-disabled-text-color: #7c7f9a;
$button-disabled-border: 1px solid #b8bdd6;
$button-hover: #b1b1d3;
$button-pressed: #6f6faf;
$button-orange-hover: #f6c686;
$button-orange-pressed: #f09826;
$sidebar-button-hover: #e6e6e6;
$sidebar-button-pressed: #cccccc;

$process-indicator-running-border: #e09530;
$process-indicator-failed-border: #c03030;
$process-indicator-failed-background: #e05555;
$process-indicator-stopped-border: #7a7a7a;